:root {
  --Primary: #36B5B0;
  --Secondary: #d5f5ed;
  --Tertiary: #fff06a;
  --Accent: #e65c5c;
  --Background: #ebebeb;
  --Search: #88d9dc;
  --CardBackground: #fefefe;
  --BordersShadows: #8a8a8a;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

* {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  color: var(--Accent);
  background-image: radial-gradient(white, var(--Tertiary));
  text-align: center;
  border: 7px outset var(--Tertiary);
  border-radius: 5px;
  margin: 20px;
  box-shadow: 5px 5px 5px var(--BordersShadows);

}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: x-large;
  color: #626262;
  margin-bottom: 15px;

}

body {
  background-color: var(--Background);
}

.searchSec {
  display: flex;
  flex-direction: row;
  background: url("../Images/backSearch.png") center center no-repeat;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 430px;
  background-size: 650px;
}


.hero-search-filter-form {
  display: flex;
  align-items: center;
  background: var(--CardBackground);
  padding: 0.25rem;
  border-radius: 5px;
  width: 220%;
  position: relative;
  right: 60%;
  margin-bottom: 60%;
}

.hero-search-filter-form input,
.hero-search-filter-form .button {
  margin-bottom: 0;
}

.hero-search-filter-form-find {
  border: 0;
  box-shadow: none;
}

.hero-search-filter-form-find:focus {
  border: 0;
  box-shadow: none;
}

.hero-search-filter-form .button {
  border: 2px outset #3680b5;
  border-radius: 5px;
}

.hero-search-filter-form .button:hover {
  border: 2px inset #3680b5;
}


main {
  display: flex;
}

#container-recipe-results {
  background-color: var(--Background);
  width: 60%;
  margin: 20px;
  border: 1px solid var(--BordersShadows);
  box-shadow: 5px 5px 5px 5px var(--BordersShadows);
}

#container-recipe-results h3 {
  color: var(--Accent);
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: var(--CardBackground);
  width: 96%;
  margin: 10px;
  border: 1px solid var(--BordersShadows);
  box-shadow: 3px 3px 3px 3px var(--BordersShadows);
}

.recipe-card {
  background-color: var(--CardBackground);
  padding: 1rem;
  display: flex;
  width: 97%;
  margin: 10px;
}

.recipe-card-thumbnail {
  display: block;
  position: relative;
}

.recipe-card-info {
  flex-direction: column;
  width: 300px;
  margin: 10px;
}

.recipe-card-title {
  line-height: 1.45rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.recipe-card-desc {
  color: #8a8a8a;
  display: block;
}

.recipe-card-prop {
  color: #3e3e3e;
  display: inline-block;
  margin-top: 0.8rem;
}

.recipe-card-button {
  display: block;
  align-items: center;
  border: 2x solid black;
  margin-top: 10%;
  background-color: var(--Accent);
  height: fit-content;
  padding: 5px;
  border: 2px outset var(--Accent);
}

#get-url {
  color: var(--CardBackground);
}

.recipe-card-button:hover {
  border: 2px inset var(--Accent);
}

.favorites {
  position: relative;
  top: 20px;
  left: 5px;
  display: flex;
}

#container-video-results {
  background-color: var(--Background);
  width: 33%;
  margin: 20px;
  border: 1px solid var(--BordersShadows);
  box-shadow: 5px 5px 5px 5px var(--BordersShadows);
}

#container-video-results h3 {
  color: var(--Accent);
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: var(--CardBackground);
  width: 93%;
  margin: 10px;
  border: 1px solid var(--BordersShadows);
  box-shadow: 3px 3px 3px 3px var(--BordersShadows);
}

.video-card {
  background-color: var(--CardBackground);
  padding: 1rem;
  width: 94%;
  margin: 10px;
  text-align: center;
}

.video-card-thumbnail {
  padding: 0 15%;
}

.video-card-thumbnail:after {
  content:"\a";
  white-space: pre;
}

.video-card-title {
  line-height: 1.45rem;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.video-card-desc {
  color: var(--BordersShadows);
  display: block;
  text-align: center;
  font-size: smaller;
}

footer {
  text-align: center;
  color: var(--Primary);
  margin: 20px;
  padding: 20px;
  box-shadow: 3px 3px 3px 3px var(--BordersShadows);
}


@media screen and (max-width: 1100px) {

  .recipe-card-title {
    font-size: 12pt;
  }

  .recipe-card-desc {
  font-size: 11pt;
  }

@media screen and (max-width: 850px) {

  #container-recipe-results {
    width: 65%;
  }

  #container-video-results {
    width: 25%;
  }

  .recipe-card {
    width: 95%;
  }

  .recipe-card-title,
  .recipe-card-desc,
  .recipe-card-prop,
  .recipe-card-button {
    font-size: 10pt;
  }

  #container-video-results h3 {
    width: 90%;
  }

  .video-card {
    width: 90%;
    justify-content: center;
    padding: 10px 0;
  }

  .video-card-thumbnail img {
    padding: 0;
    margin: 0;
    height: 80px;
    align-items: center;
  }

  .video-card-title {
    font-size: 10pt;
  }

}


@media screen and (max-width: 700px) {
  .searchSec {
    width: 100%;
    height: 250px;
    background-size: 100%;
  }

  .hero-search-filter-form {
    display: flex;
    align-items: center;
    background: var(--CardBackground);

    width: 400px;
    position: relative;
    left: .5%;
    margin-bottom: 40%;
  }

  h1 {
    font-size: xx-large;
  }

  h2 {
    font-size: medium;
  }

  main {
    flex-direction: column;
  }

  #container-recipe-results,
  #container-video-results {
    width: 93%;
  }

  #container-recipe-results h3,
  #container-video-results h3 {
    width: 95%;
  }

  .recipe-card {
    width: 95%;
  }

  .recipe-card-title,
  .recipe-card-desc,
  .recipe-card-prop,
  .recipe-card-button {
    font-size: 10pt;
  }



  .video-card {
    width: 95%;
    justify-content: center;
    padding: 10px 0 3px 0;
  }

  .video-card-thumbnail img {
    padding: 0;
    padding-left: 33%;
    max-height: 100px;
    align-items: center;
  }

  .video-card-title {
    font-size: 11pt;
  }

}