:root {
    --Primary: #36B5B0;
    --Secondary: #d5f5ed; 
    --Tertiary: #FCF5B0; 
    --Accent: #e65c5c;
    --Background: #ebebeb;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

* {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  color: var(--Accent);
  background-image: radial-gradient(white, var(--Tertiary));
  text-align: center;
  border: 7px outset var(--Tertiary);
  border-radius: 5px;
  margin: 20px;
  box-shadow: 5px 5px 5px #8a8a8a;

}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: x-large;
  color: #626262;
  margin-bottom: 15px;

}

body {
  background-color: var(--Background);
}

.searchSec {
  display: flex;
  flex-direction: row;
  background: url("../Images/backSearch.png") center no-repeat;
  background-color: #88d9dc;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
    
}

.hero-search-filter-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 300px;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;

}

.hero-search-filter-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  background: #fefefe;
  padding: 0.25rem;
  border-radius: 5px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
    margin-bottom: 12%;
    width: 43%;
}

.hero-search-filter-form .divider {
  background: #cacaca;
  width: 1px;
}

/* .hero-search-filter-form label {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: #8a8a8a;
  font-weight: bold;
} */

.hero-search-filter-form input,
.hero-search-filter-form .button {
  margin-bottom: 0;
}

@media screen and (max-width: 39.9375em) {
  .hero-search-filter-form {
    width: 95%;
  }
}

.hero-search-filter-form-find {
  border: 0;
  box-shadow: none;
}

.hero-search-filter-form-find:focus {
  border: 0;
  box-shadow: none;
}

#container-recipe-results {
  background-color: var(--Background);
  width: 60%;
  margin: 20px;
  border: 1px solid #8a8a8a;
  box-shadow: 5px 5px 5px 5px #8a8a8a;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.recipe-card {
  background-color: #fefefe;
  padding: 1rem;
  display: flex;
  width: 96%;
  margin: 10px;
}

.recipe-card-thumbnail {
  display: block;
  position: relative;
}

.recipe-card-info {
  flex-direction: column;
  width: 300px;
  margin: 10px;
}

.recipe-card-title {
  line-height: 1.45rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.recipe-card-desc {
  color: #8a8a8a;
  display: block;
  
}

.recipe-card-prop {
  color: #3e3e3e;
  display: inline-block;
  margin-top: 0.8rem;
}

.recipe-card-button {
  display: block;
  align-items: center;
  border: 2x solid black;
  margin-top: 10%;
  background-color: var(--Accent);
  height: fit-content;
  padding: 5px;
  border: 2px outset var(--Accent);
}

.recipe-card-button:hover {
  border: 2px inset var(--Accent);
}

